{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Authentication by email (var2)
</h1>
<h2 class="subtitle">
  Реализовать аутентификацию по паролю с подтверждением по email. 
В таблице идентификаторов должны храниться: логин, email, пароль, 
временный код подтверждения. Таблица идентификаторов должна 
представлять собой таблицу в реляционной БД, данные должны 
передаваться через SQL-запросы. При аутентификации на сервере 
сравниваются пароли и на email пользователя отправляется сгенерированный 
на сервере временный код подтверждения. На клиенте после отправки данных 
с паролем должен произойти редирект на форму для ввода временного кода 
подтверждения. После отправки кода на сервере сравниваются пришедший 
код и код из БД. При совпадении кодов аутентификация считается успешной 
и происходит редирект на страницу-заглушку.  
</h2>
{% endblock %}